<template>
    <div class="alert-danger" v-if="errors.length > 0">
        <div v-for="message in errors">{{ message }}</div>
    </div>
</template>

<script>

export default {
    name: "Errors",
    props: {
        errors: Array,
    },
    data() {
        return {}
    },
}
</script>

<style scoped>

</style>
