<template>
    <footer>
        <div class="fox_footer">
            <div class="row">
                <div class="col-md-4 f_column">
                    <div class="f_str">Информация</div>
                    <div class="f_str">Телефон: <a href="tel: 89227174502">8(922)-717-45-02</a></div>
                    <div class="f_str">Email: <a href="email: foxiscd@mail.ru">foxiscd@mail.ru</a></div>
                </div>
                <div class="col-md-4 f_column">
                    <div class="f_str">Оплата</div>
                    <div class="f_str">Visa</div>
                    <div class="f_str">MasterCard</div>
                </div>
                <div class="col-md-4 f_column">
                    <div class="f_str">Адресс</div>
                    <div class="f_str">Прохладная 1 104</div>
                    <div class="f_str">Подъезд 3</div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>

export default {
    name: "Footer",
    data() {
        return {}
    },
}
</script>

<style scoped>

</style>
