<template>
    <div>
        <div></div>
        <MainMenu :links="links"></MainMenu>
    </div>
</template>

<script>
import MainMenu from "../navigations/MainMenu";

export default {
    name: "Header",
    components: {
        MainMenu
    },
    props: {
        links: Array
    },
    data() {
        return {}
    },
}
</script>

<style scoped>

</style>
