<template>
    <div>
        <h1>{{ getTittle }}</h1>
        <div>Привет это мое портфолио</div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Portfolio",
    computed: mapGetters(['getTittle']),
}
</script>

<style scoped>

</style>
