// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "spinner";
@import "auth";
@import "socs";

$primary-color: #3490dc;
$nav-height: 50px;
$button-shadow: inset 0px 0px 20px rgba(45, 55, 72, 0.18);

.flex {
    display: flex;
    flex-direction: row;
}

.f_head {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #edeef0;
}

.fox_main_panel {
    position: relative;
    width: 100%;
    min-height: $nav-height;
    background-color: white;
    margin: auto;
    text-align: center;
    display: flex;
    border-top: 1px solid #edeef0;

    & .container {
        @extend .flex;
    }

    & > div {
        line-height: $nav-height - 20px;
    }

    .fox_main_logo {
        padding: 10px;
        padding-left: 20px;
        flex: 2;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    .fox_main_nav_tabs {
        display: flex;
        flex: 10;
        padding: 10px;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;

        & a {
            color: black;

        }

        .fox_main_nav_tab_first {
            cursor: pointer;
            min-width: 100px;
            max-width: 200px;
            padding: 5.5px;
            color: black;
            background: white;
            line-height: $nav-height - 40px;
            margin-right: 5px;
            text-decoration: none;
            outline: none;
            border-radius: 4px;

            &:hover:not(:active) {
                box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
            }

            &:active {
                background: rgba(166, 166, 166, 0.13);
                box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0, 0, 0, .5) inset, 0 1px 2px #fff;
            }
        }
    }

    .fox_main_auth {
        display: flex;
        padding: 10px;
        margin-top: -4px;

        .f_auth_user {
            padding-left: 10px;
            display: flex;
            .f_auth_photo {
                padding: 3px;
                margin-right: 5px;
                margin-left: 5px;
                border-radius: 90%;
                width: 30px;
                height: 30px;
            }
        }

        & > div, a {
            margin: 2px;
            cursor: pointer;
            height: 30px;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
            color: black;
            margin-right: 5px;
            text-decoration: none;
            outline: none;
            border-radius: 4px;

            &:hover:not(:active) {
                box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
            }

            &:active {
                background: rgba(166, 166, 166, 0.13);
                box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0, 0, 0, .5) inset, 0 1px 2px #fff;
            }
        }
    }
}

.fox_main_content {
    min-height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    @extend .container;
}

.fox_footer {
    min-height: 300px;
    background-color: rgba(45, 55, 72, 0.6);
    border-radius: 10px;
    padding: 40px;
    @extend .container;
}

.f_column {
    text-align: center;
    color: white;
}

.f_btn_main {
    &:active {
        background-color: rgba(255, 255, 255, 0.78);
        border: 1px solid white;

    }


    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
