.f_auth {
    position: absolute;
    background-color: #f8fafc;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 14px;

    .f_btn_main {
        font-weight: normal;
    }


    .f_auth_panel {
        position: absolute;
        width: 400px;
        min-height: 500px;
        background: linear-gradient(180deg, rgba(0, 127, 255, 0.52), rgb(209 232 255 / 17%));
        border-radius: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 40px;

        .f_auth_form {
            margin: auto;

            & hr {
                margin: auto;
                margin-top: 40px;
                width: 80%;
            }

            .f_form_group {
                justify-content: flex-end;
                display: flex;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
                width: 100%;
                min-height: 40px;

                &.f_auth_buttons {
                    align-items: flex-end;
                }

                &.f_head {
                    justify-content: center;
                }

                .f_form_title {
                    padding: 5px;
                    text-align: right;
                    color: white;
                }

                .f_input {
                    padding: 5px;
                    width: 100%;
                    max-width: 250px;

                    & a:hover {
                        text-decoration: none !important;
                    }

                    & input {
                        &:focus-visible {
                            border: unset;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        }

                        border-radius: 4px;
                        border: 1px solid white;
                        height: 26px;
                        padding-left: 10px;
                        padding-right: 10px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.f_form_group {
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    min-height: 40px;

    &.alert-danger {
        color: red;
        justify-content: flex-start !important;
    }

    &.f_auth_buttons {
        align-items: flex-end;
    }

    &.f_head {
        justify-content: center;
    }

    .f_form_title {
        padding: 5px;
        text-align: right;
    }

    .f_input {
        padding: 5px;
        width: 100%;
        max-width: 250px;

        & a:hover {
            text-decoration: none !important;
        }

        & input {
            &:focus-visible {
                border: unset;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            border-radius: 4px;
            border: 1px solid white;
            height: 26px;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }
    }
}
