.f_socs {
    display: flex;
    justify-content: center;

    & .f_soc {
        width: 45px;
        height: 45px;
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;

        &:active {
            transform: scale(1.2);
        }
    }
}
