#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #edeef0;
    z-index: 100500;
}

#page-preloader .spinner {
    @extend .spinner
}

span, p, a, div, button {
    & .spinner {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        border: 16px solid rgba(45, 55, 72, 0.08);
        border-top: 16px solid rgba(0, 0, 0, .5);
        border-radius: 50%;
        animation: spin 2s linear infinite;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
