

nav.uk-navbar-container.uk-navbar{
    background: rgba(0, 0, 0, 0.2);
}
nav.uk-navbar-container.uk-navbar a{
    color: white;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

body {
font-family: 'Open Sans', sans-serif;
}
