<template>
    <div class="f_auth">
        <div class="f_auth_panel">
            <div v-if="loadAuth">
                <div class="f_auth_form">
                    <div class="f_form_group f_head">
                        <div class="f_form_title">
                            Авторизация
                        </div>
                    </div>
                    <div class="f_form_group alert-danger" v-if="errors.length>0">
                        <div>
                            <div v-for="error in errors">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Email:
                        </div>
                        <div class="f_input">
                            <input type="text" v-model="email" name="email" placeholder="Введите email">
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Пароль:
                        </div>
                        <div class="f_input">
                            <input type="password" v-model="password" name="password" placeholder="Введите пароль">
                        </div>
                    </div>
                    <hr>
                    <div class="f_form_group f_auth_buttons">
                        <div class="f_form_title">
                            <button class="f_btn_main" @click="authorization">
                                Войти
                            </button>
                        </div>
                        <div class="f_input">
                            <a href="/">
                                <div class="f_btn_main">
                                    Отмена
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="f_socs">
                    <a href="/api/auth/social/redirect" class="f_soc">
                        <img :src="vk" alt="vkontakte">
                    </a>
                    <a href="#" class="f_soc">
                        <img :src="google" alt="google">
                    </a>
                    <a href="#" class="f_soc">
                        <img :src="facebook" alt="facebook">
                    </a>
                </div>
            </div>
            <div v-else class="spinner">
            </div>
        </div>
    </div>
</template>

<script>
import vk from './../../../../public/assets/images/soc_icons/vk.svg';
import google from './../../../../public/assets/images/soc_icons/google.svg';
import facebook from './../../../../public/assets/images/soc_icons/facebook.svg';
import {eventBus} from "../../app";

export default {
    name: "Login",
    data() {
        return {
            vk,
            google,
            facebook,
            email: '',
            password: '',
            loadAuth: true,
            errors: []
        }
    },
    methods: {
        async authorization(event, socialCode = null, id = null) {
            this.loadAuth = false;
            var url = '/api/auth/login';
            var data = {email: this.email, password: this.password};
            if (socialCode) {
                url = '/api/auth/login/social';
                data = {code: socialCode, id: id};
            }
            await axios.post(url, data)
                .then(res => {
                    if (res.data.data.token) {
                        const tokenType = res.data.data.token_type
                        const token = res.data.data.token;
                        const user_id = res.data.data.user_id;
                        localStorage.setItem('access_token', tokenType + ' ' + token);
                        document.cookie = 'access_token=' + token;
                        localStorage.setItem('user_id', user_id);
                        eventBus.$emit('runAuth');
                        window.location.href = '/account/' + user_id;
                    }
                })
                .catch(e => {
                    this.errors = e.response.data.errors;
                });
            this.loadAuth = true;
        }
    },
    mounted() {
        var params = window.location.search.replace('?', '').split('&')
            .reduce(
                function (p, e) {
                    var a = e.split('=');
                    p[(a[0])] = (a[1]);
                    return p;
                },
                {}
            );
        if (params['social_code']) {
            this.authorization(this, params['social_code'], params['id']);
        }
    }
}
</script>

<style scoped>

</style>
