<template>
    <div class="f_auth">
        <div class="f_auth_panel">
            <div v-if="loadAuth">
                <div class="f_auth_form">
                    <div class="f_form_group f_head">
                        <div class="f_form_title">
                            Регистрация
                        </div>
                    </div>
                    <div class="f_form_group alert-danger" v-if="errors.length>0">
                        <div>
                            <div v-for="error in errors">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Email:
                        </div>
                        <div class="f_input">
                            <input type="email" v-model="email" name="email" placeholder="Введите email">
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Логин:
                        </div>
                        <div class="f_input">
                            <input type="text" v-model="login" name="login" placeholder="Введите логин">
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Телефон:
                        </div>
                        <div class="f_input">
                            <input type="tel" v-model="phone" name="phone" placeholder="Введите телефон">
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Пароль:
                        </div>
                        <div class="f_input">
                            <input type="password" v-model="password" name="password" placeholder="Введите пароль">
                        </div>
                    </div>
                    <div class="f_form_group">
                        <div class="f_form_title">
                            Повторите пароль:
                        </div>
                        <div class="f_input">
                            <input type="password" v-model="password_repeat" name="password_repeat"
                                   placeholder="Повторите пароль">
                        </div>
                    </div>
                    <hr>
                    <div class="f_form_group f_auth_buttons">
                        <div class="f_form_title">
                            <button @click="rigister" class="f_btn_main">
                                Зарегестрироваться
                            </button>
                        </div>
                        <div class="f_input">
                            <a href="/">
                                <div class="f_btn_main">
                                    Отмена
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="spinner">
            </div>
        </div>
    </div>
</template>

<script>
import vk from './../../../../public/assets/images/soc_icons/vk.svg';
import google from './../../../../public/assets/images/soc_icons/google.svg';
import facebook from './../../../../public/assets/images/soc_icons/facebook.svg';
import {eventBus} from "../../app";

export default {
    name: "Registration",
    data() {
        return {
            vk,
            google,
            facebook,
            email: '',
            password: '',
            phone: '',
            login: '',
            password_repeat: '',
            loadAuth: true,
            errors: []
        }
    },
    methods: {
        async rigister() {
            this.loadAuth = false;
            await axios.post('/api/auth/registration', {
                email: this.email,
                password: this.password,
                password_repeat: this.password_repeat,
                phone: this.phone,
                login: this.login,
            })
                .then(res => {
                    if (res.data.success) {
                        this.$router.push({name: 'login'})
                    }
                })
                .catch(e => {
                    this.errors = e.response.data.errors;
                });
            this.loadAuth = true;

        }
    }
}
</script>

<style scoped>

</style>
