<template>
    <div class="fox_main_panel">
        <div class="container">
            <div class="fox_main_logo">Maru-PH</div>
            <div class="fox_main_nav_tabs">
                <div v-for="(link, index) in links" :key="index" @click.stop="getLink(link.number)">
                    <router-link :to="{name:link.route}" class="fox_main_nav_tab_first">
                        <a href="#">
                            {{ link.name }}
                        </a>
                    </router-link>
                </div>
            </div>
            <div class="fox_main_auth" v-if="!getAuthUser">
                <a href="/auth/login" class="btn_login">
                    <div>
                        Войти
                    </div>
                </a>
                <a href="/auth/registration" class="btn_reg">
                    <div>Регистрация</div>
                </a>
            </div>
            <div class="fox_main_auth" v-else>
                <router-link tag="a" class="f_auth_user" :to="{name:'account',params:{id:getAuthUser.id}}">
                    <div>{{ getAuthUser.login ? getAuthUser.login : getAuthUser.email }}</div>
                    <img class="f_auth_photo"
                         :src="(getAuthUser.profile && getAuthUser.profile.avatar)?getAuthUser.profile.avatar:user"
                         :alt="getAuthUser.email">
                </router-link>
                <div class="btn_logout" @click="logout">Выйти</div>
            </div>
        </div>
    </div>
</template>

<script>
import {eventBus} from "../../app";
import {mapActions, mapGetters} from "vuex";
import user from "../../../../public/images/user.png"

export default {
    name: "MainMenu",
    data() {
        return {
            user,
        }
    },
    props: {
        links: Array
    },
    methods: {
        ...mapActions(['changeLoadingStore']),
        getLink(data) {
            eventBus.$emit('set-link', data);
        },
        async logout() {
            await axios.post('/api/auth/logout')
                .then(res => {
                    if (res.data.success) {
                        localStorage.removeItem('access_token');
                        document.location.href = '/';
                    }
                });
        },
    },
    computed: {
        ...mapGetters(['getAuthUser'])
    }
}
</script>

<style scoped>

</style>
