<template>
    <div v-if="getUser.email && load">
        <div v-if="getUser.email_verified_at">
            <div>
                Добро пожаловать:
                <span v-if="!getUser.profile">
                    {{ getUser.email }}
                </span>
                <span v-else>
                    {{ getUser.getProfile().first_name }}
                    {{ getUser.getProfile().middle_name }}
                    {{ getUser.getProfile().last_name }}
                </span>
            </div>
        </div>
        <div v-else style="text-align: center">
            Добро пожаловать
            {{ getUser.email }}.
            <div class="alert-danger m-lg-2">
                <p>Для дальнейшей работы вам нужно подтвердить адрес электронной почты.</p>
                <div v-if="currentTime==0">
                    <a href="#" @click="sendEmail">Выслать сообщение заново.</a>
                </div>
                <div v-else>
                    <p>Повторное отправление возможно через: {{ currentTime }}</p>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <span class="spinner"></span>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {Timer} from "../../src/helpers/Timer";

export default {
    name: "Account",
    mixins: [Timer],
    data() {
        return {
            errors: [],
            load: true,
        }
    },
    methods: {
        ...mapActions(['getProfile']),
        async sendEmail() {
            this.load = false;
            localStorage.setItem('verify_email_resend', new Date());
            await axios.post('/api/auth/email/resend')
                .catch(e => {
                    this.errors = e.response.data.errors;
                })
            this.startTimer(60);
            this.load = true;
        }
    },
    computed: {
        ...mapGetters(['getUser','getAuthUser']),
    },
    mounted() {
        this.getProfile(this.$route.params['id']);
        if (localStorage.getItem('verify_email_resend') && !this.getAuthUser.email_verified_at) {
            var date1 = new Date(localStorage.getItem('verify_email_resend'));
            var date2 = new Date();
            var daysLag = Math.ceil(Math.abs(date2.getTime() - date1.getTime()) / (1000));
            if ((60 - daysLag) > 0) {
                this.startTimer(60 - daysLag);
            }
        } else if (this.getAuthUser.email_verified_at && localStorage.getItem('verify_email_resend')) {
            localStorage.removeItem('verify_email_resend');
        }
    }
}
</script>

<style scoped>

</style>
